<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/perfil.css">
    <script type="module" src="../script/adminPerfil.js" defer></script>
    <link rel="stylesheet" href="../style/navbar.css">
    <title>Snack script - Perfil</title>
</head>
<body>
    <div id="navbar"></div>

    <main id="perfil">
        <h2 id="nombre"></h2>
        <p id="email"></p>
        <button><a id="iniciarSesion" href="../view/logIn.html">Iniciar Sesión</a></button>
        <button><a id="cerrarSesion" href="../view/indexAdmin.html">Cerrar Sesión</a></button>
    </main>

    <div id="footer"></div>
</body>
</html>
