<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/pedidos.css">
    <script type="module" src="../script/adminUsers.js" defer></script>
    <link rel="stylesheet" href="../style/navbar.css">
    <title>Snack script - Usuarios Admin</title>
</head>
<body>
    <div id="loader">Verificando permisos...</div>
    <div id="contenido" style="display: none;">
        <div id="navbar"></div>
        <main id="lista-pedidos">
            <h3>Lista de usuarios registrados</h3>
            <p>Gestión de los usuarios en la plataforma</p>
            <div id="Usuarios">
                <div class="Usuario">
                    <h4 id="Nombre"></h4>
                    <p id="rol"></p>
                    <p id="correo"></p>
                    <p id="pedidos realizados"></p>
                </div>
            </div>
        <div id="footer"></div>
    </div>
</body>
</html>
