<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/adminUsers.css">
    <link rel="stylesheet" href="../style/perfil.css">
    <script type="module" src="../script/adminUsers.js" defer></script>
    <link rel="stylesheet" href="../style/navbar.css">
    <title>Snack script - Usuarios Admin</title>
</head>
<body>
    <div id="loader">Verificando permisos...</div>
    <div id="contenido" style="display: none;">
        <div id="navbar"></div>
        <main id="lista-usuarios">
            <div class="usuarios-header-card">
              <h2>Lista de usuarios registrados</h2>
              <p>Gestión de los usuarios en la plataforma</p>
            </div>
            <div class="filter-buttons">
                <button id="todos">Todos</button>
                <button id="admin">Administradores</button>
                <button id="user">Usuarios</button>
                <button id="subscriber">Suscriptores</button>
            </div>

            <div class="usuarios-container">
            <table class="table-usuarios">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Fecha de registro</th>
                    </tr>
                </thead>
                <tbody id="Usuarios"></tbody>
            </table>
        </div>
        </main>

        <dialog id="actions-User" class="dialog">
            <h2>Acciones a este usuario</h2>
            <button id="btnEditUser">Editar</button>
            <button id="btnDeleteUser">Eliminar</button>
            <button id="btnCancelActions">Cancelar</button>
        </dialog>

        <dialog id="editUserDialog" class="dialog">
            <h2>Editar rol del usuario</h2>
            <form id="editUserForm">
                <label for="editUserRole">Rol:</label>
                <select id="editUserRole">
                    <option value="" disabled selected>Rol</option>
                    <option value="admin">admin</option>
                    <option value="user">user</option>
                    <option value="subscriber">subscriber</option>
                </select>
                <button type="submit">Guardar Cambios</button>
                <button type="button" id="cancelEditUser">Cancelar</button>
            </form>
        </dialog>
        <div id="footer"></div>
    </div>
</body>
</html>
