<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/adminPedidos.css">
    <link rel="stylesheet" href="../style/pedidos.css">
    <script type="module" src="../script/adminPedidos.js" defer></script>
    <link rel="stylesheet" href="../style/navbar.css">
    <title>Snack script - Pedidos Admin</title>
</head>
<body>
    <div id="loader">Verificando permisos...</div>
    <div id="contenido" style="display: none;">
        <div id="navbar"></div>
        <main id="lista-pedidos">
            <h3>Lista de pedidos realizados</h3>
            <p>Seguimiento de los pedidos en curso</p>
            <div class="filter-buttons">
                <button id="btnFilterPendientes">Pendientes</button>
                <button id="btnFilterPreparacion">En preparación</button>
                <button id="btnFilterCamino">En camino</button>
                <button id="btnFilterCompleted">Completados</button>
            </div>

            <div id="nombreUsuario"></div>

            <div id="infoPedido"></div>
        </main>
            
        <div id="footer"></div>
    </div>
</body>
</html>
