<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/pedidos.css">
    <script type="module" src="../script/adminPedidos.js" defer></script>
    <link rel="stylesheet" href="../style/navbar.css">
    <title>Snack script - Pedidos Admin</title>
</head>
<body>
    <div id="navbar"></div>

    <main id="lista-pedidos">
        <h3>Lista de pedidos realizados</h3>
        <p>Seguimiento de los pedidos en curso</p>
        <div id="pedidos">
            <div class="pedido">
                <h4 id="numeroPedido"></h4>
                <p id="tagPedido"></p>
                <p id="fechaPedido"></p>
                <p id="totalPedido"></p>
            </div>
        </div>
    <div id="footer"></div>
</body>
</html>
