<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/carrito.css">
    <script type="module" src="../script/carrito.js" defer></script>
    <link rel="stylesheet" href="../style/navbar.css">

    <title>Snack script - Carrito</title>
</head>

<body>
    <div id="navbar"></div>
    <div id="messageCart" class="alert-message"></div>
    <main id="carrito">
        <!-- Sección de productos del carrito -->
        <div id="snackList">
            <div class="cart-header">
                <h2>Carrito de compras</h2>
                <span class="cart-item-count" id="cart-item-count"></span>
            </div>
            
            <ul class="cart-items" id="cartList">
            </ul>
        </div>

        <!-- Sidebar de resumen -->
        <div class="cart-sidebar">
            <div class="cart-summary">
                <h3 class="summary-header">Resumen del pedido</h3>
                <div class="price-breakdown" id="price-breakdown"></div>
                <button id="btnBuy">Proceder al pago</button>
            </div>
        
            <div class="cart-extra" id="couponsUser">
                <!-- <div class="user-coupons">
                    <h1>Cupones disponibles:</h1>
                    <div class="coupon-item" id="couponItem">
                        <p><strong>CUPON10 - 10% de descuento</strong></p>
                    </div>
                </div>
                <div class="no-coupons" id="noCoupons">
                    <p>No tienes cupones disponibles en este momento 😔</p>
                </div> -->
            </div>
        </div>
    </main>

    <div id="ultimosComprados">
        <h3>Última compra</h3>
        <div style="padding: 20px;">
            <p>No hay compras recientes</p>
        </div>
    </div>

    <div id="total-puntos">
        <h3>Balance de puntos: 10</h3>
    </div>
    <div id="footer"></div>

    <dialog id="confirmAddressDialog">
        <div class="dialog-header">Realizar Pago</div>
        <div class="address-info" id="address-info">
            ¿Deseas continuar a realizar el pago?
        </div>
        <div class="dialog-buttons">
            <button class="btn-yes" id="btn-yes">Sí</button>
            <button class="btn-no" id="btn-no">No</button>
        </div>
    </dialog>
</body>

</html>
