<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="../style/sesion.css">
  <script src="../script/logIn.js" defer></script>
</head>
<body>
  <div class="sesion-bg-blur"></div>
  <div class="sesion-bg-logo"></div>
  <div class="sesion-container">
    <h2>Iniciar Sesión</h2>
    <form id="loginForm">
      <input id="username" type="text" placeholder="Usuario o Email" required>
      <input id="password" type="password" placeholder="Contraseña" required>
      <button type="submit">Entrar</button>
    </form>
    <div class="sesion-link">
      ¿No tienes cuenta? <a href="singUp.html">Regístrate</a>
    </div>
  </div>
</body>
</html>