<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/pedidos.css">
    <script type="module" src="../script/pedidos.js" defer></script>
    <link rel="stylesheet" href="../style/navbar.css">
    <title>Snack script - Pedidos</title>
</head>
<body>
    <div id="navbar"></div>
    <div id="selector-pedidos">
        <a href="../view/pedidos.html">
            <button id="btnPedidos">Mis pedidos</button>
        </a>
        <a href="../view/historialPedidos.html">
            <button id="btnHpedido">Hisotrial de pedido</button>
        </a>
    </div>
    <main id="lista-pedidos">
        <h3>Mis pedidos</h3>
        <p>Selecciona un pedido para estado actual del pedido</p>
        <div id="pedidos">
            <div class="pedido">
                <h4>pedido 1</h4>
                <p>Pedido #12345</p>
                <p>Fecha: 07/06/2025</p>
                <p>Total: $25.00</p>
            </div>
            <div class="pedido">
                <h4>pedido 2</h4>
                <p>Pedido #12346</p>
                <p>Fecha: 05/06/2025</p>
                <p>Total: $15.00</p>
            </div>
        </div>
    <div id="footer"></div>
</body>
</html>
