<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/perfil.css">
    <script type="module" src="../script/perfil.js" defer></script>
    <link rel="stylesheet" href="../style/navbar.css">
    <title>Snack script - Perfil</title>
</head>
<body>
    <div id="navbar"></div>
    <main id="perfil">
        <h2 id="nombre"></h2>
        <p id="email"></p>
        <div id="buttons"></div>
    </main>
    <hr class="section-divider">
    <div id="total-puntos">
        <h3>Balance de puntos: 10</h3>
    </div>
    <hr class="section-divider">
    <div id="tarjetas">
        <h3>Mis cupones</h3>
    </div>
    <hr class="section-divider">
    <div id="direcciones">
        <h3>Mis pedidos</h3>
    </div>
    <div id="footer"></div>
</body>
</html>
