<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/snackPedia.css">
    <script type="module" src="/script/snackPedia.js" defer></script>
    <title>Snack Script - Snack Pedia</title>
</head>
<body>
    <div id="navbar"></div>
    <search>
        <input type="text" id="searchInput" placeholder="Buscar snacks...">
        <button id="searchButton">Buscar</button>
    </search>

    <main>
        <button id="btnTodo">Todo</button>
        <button id="btnDulce">Dulce</button>
        <button id="btnSalado">Salado</button>
        <button id="btnBebida">Bebida</button>
        <button id="btnPais">Por pais</button>
    </main>

    <div id="snackList">
        <img src="/img/buldakCarbonara.png" class="snack">
        <img src="/img/SourpatchOriginal.webp" class="snack">
        <img src="/img/ChocolatemrbeastMani.jpg" class="snack">
        <img src="/img/PapiricasPollo.webp" class="snack">
        <img src="/img/LucasmuecasAzul.jpg" class="snack">
        <img src="/img/pockyChocolate.webp" class="snack">
    </div>
    <div id="footer"></div>
</body>
</html>